# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#DATABASE CONFIG
DATABASE_URL=

#SERVER CONFIG
SERVER_PORT=
NODE_DEV=development

#TOKEN CONFIG
JWT_SECRET=

#AWS CONFIG
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=

#MJ EMAILS CONFIG
MJ_APIKEY_PUBLIC=
MJ_APIKEY_PRIVATE=

#MPESA API KEYS
MPESA_PUBLIC_KEY=
MPESA_API_KEY=
MPESA_SERVICE_PROVIDER_CODE=

#GEMINI AI CONFIG
GEMINI_API_KEY=